:root {
  --secondary-font-family: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --color-logo: #000000;
  --main-color-text: #212121;
  --second-color-text: #757575;
  --third-color-text: #ffffff;
  --second-background-color: #2F303A;
  --third-background-color: #F5F4FA;
  --icon-colors: #AFB1B8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid green;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.main-header {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color-text);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .main-header {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-section {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-color: #C4C4C4;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .hero-section {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.main-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 10px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--third-color-text);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover, .main-button:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    flex-basis: calc((100% - 120px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .advantages__list:not(:last-child) {
    margin-bottom: 30px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color-text);
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}

.advantages__descroption {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}

.advantages__icon {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--third-background-color);
}

.advantages__svg {
  width: 70px;
  height: 70px;
}

.second.section {
  padding-top: 0px;
}

@media screen and (max-width: 1199px) {
  .second.section {
    display: none;
  }
}

.second-header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .second-header {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.our-work {
  display: flex;
  justify-content: space-between;
}

.our-work__list {
  flex-basis: calc((100% - 90px) / 3);
  position: relative;
}

.our-work__title {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--third-color-text);
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  background-color: var(--third-background-color);
}

@media screen and (min-width: 768px) {
  .members-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 480px) {
  .members-list__photo {
    width: 100%;
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .members-list__photo {
    width: 100%;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .members-list__photo {
    width: 100%;
    height: 260px;
  }
}

@media screen and (min-width: 480px) {
  .contacts-team {
    padding: 30px 122px 24px 122px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-team {
    padding: 30px 74px 24px 74px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-team {
    padding: 30px 32px 30px 32px;
  }
}

.members-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  margin-bottom: 10px;
}

.members-list__profesion {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
  margin-bottom: 16px;
}

.members-list__card {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .members-list__card {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .members-list__card {
    flex-basis: calc((100% - 120px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .members-list__card:not(last-child) {
    margin-bottom: 30px;
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid;
  border-radius: 4px;
  color: var(--icon-colors);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:focus, .clients-list__link:hover {
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: var(--icon-colors);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list__item {
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  .clients-list__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-logo);
}

.logo--secondcolor {
  color: var(--accent-color);
}

.social {
  display: flex;
  justify-content: space-between;
}

.social__links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__links:hover, .social__links:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: var(--icon-colors);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__links:hover .social__icon,
.social__links:focus .social__icon {
  fill: var(--third-color-text);
}
/*# sourceMappingURL=main.css.map */