.buttons-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.buttons-list .buttons-list__items+.buttons-list__items {
    margin-left: 8px;
}

.buttons-list__btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    min-width: 73px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--main-color-text);
    background-color: var(--third-background-color);
    padding: 6px 20px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 3px 1px rgba(0, 0, 0, 0.1);
        color: var(--third-color-text);
        background-color: var(--accent-color);
    }
}

.buttons-list__btn--second {
    min-width: 128px;
}

.buttons-list__btn--third {
    min-width: 145px;
}

.buttons-list__btn--fourth {
    min-width: 103px;
}

.buttons-list__btn--fifth {
    min-width: 130px;
}