.clients-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid;
    border-radius: 4px;
    color: var(--icon-colors);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        border-color: var(--accent-color);
    }
}

.clients-list__icon {
    fill: var(--icon-colors);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .clients-list__link:hover &,
    .clients-list__link:focus & {
        fill: var(--accent-color);
    }
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.clients-list__item {
    flex-basis: calc((100% - 1020px) / 6);
    margin-left: 30px;
    margin-top: 30px;
}
