.social {
    display: flex;
    justify-content: space-between;
}

.social__icon {
    fill: var(--icon-colors);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social__links:hover &,
    .social__links:focus & {
        fill: var(--third-color-text);
    }
}

.social__links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}






