:root {
    --secondary-font-family: "Raleway", sans-serif;
    --accent-color: #2196f3;
    --color-logo: #000000;
    --main-color-text: #212121;
    --second-color-text: #757575;
    --third-color-text: #ffffff;
    --second-background-color: #2F303A;
    --third-background-color: #F5F4FA;
    --icon-colors: #AFB1B8;
}